<div class="main_header">
	<div class="row w-100 h-100 row_style">
		<div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2 " >
			<div class="leftside w-100 h-100 d-flex justify-content-center align-items-center eksath_anime">
				<img src="images/eksath.png" width="300" height="300" >
			</div>
		</div>
		
		<div class="col-lg-7 col-md-7 col-12 order-1 order-lg-2 " >
			<div class="rightside  w-100 h-100 d-flex justify-content-center align-items-center text-left">
				<h1>Let's Stay Safe & Fight Together <br> Against Cor<span class="corona_anime"><img src="images/corona.png"></span>na Virus</h1>
			</div>
		</div>
	</div>
</div>