<div class="container-fluid  pt-5 pb-5" id="sympid">
	<div class="section_header text-center mb-5 mt-4">
		<h1 class="">Coronavirus Symptoms </h1>
	</div>

	<div class="container">
		<div class="row">
			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure class="text-center">
					<img src="images/cough.png" class="img-fluid" width="120" height="120">
					<figcaption > Cough </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/runnynose.png" class="img-fluid" width="120" height="120">
					<figcaption > Runny nose </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/fever.png" class="img-fluid" width="120" height="120">
					<figcaption > Fever </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/sick.png" class="img-fluid" width="120" height="120">
					<figcaption > Cold </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center" >
					<img src="images/week.png" class="img-fluid" width="120" height="120">
					<figcaption > Tiredness </figcaption>
				</figure>
			</div>

			<div class= "col-lg-4 col-md-4 col-12 mt-5 " > 
				<figure  class="text-center">
					<img src="images/breath.png" class="img-fluid" width="120" height="120">
					<figcaption > Difficulty breathing (Several Cases) </figcaption>
				</figure>
			</div>
		</div>
	</div>

</div>